.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  background: rgba(0,0,0,.5);
}

.modal-window {
  width: 600px;
  border-radius: 5px;
  background-color: #fff;
  //temp
  height: 200px;   
}

.modal-header {
  padding: 1px 10px;
  display: flex;
  justify-content: space-between;
}
.modal-close {
  cursor: pointer;
}

