
.bmodal.open .modal-overlay,
.bmodal.open .modal-window {
  opacity: 1;
  z-index: 200;
}

.bmodal.hide .modal-overlay,
.bmodal.hide .modal-window {
  opacity: 1;
  z-index: 200;
}

.modal-window, .modal-overlay {
  opacity: 0;
  z-index: -1;
}
.bmodal.open .modal-window {
  transform: translateY(200px);
}

.bmodal.hide .modal-window {
  transform: translateY(-200px);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  transition: all .2s ease-in;
}

.modal-window {
  width: 600px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform .2s ease-in;
}

.modal-header {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 1rem;
  & p {
    margin: 0 0 .5rem;
  }
}


.modal-footer {
  // padding: .5rem 1rem;
  border-bottom: 1px solid #eee;
}